In [1]:
import numpy as np

In [2]:
populasyon=np.random.randint(0,80,1000)

In [3]:
populasyon[0:10]

array([77, 29, 67, 10, 35, 73, 39, 17,  6,  2])

In [5]:
#orneklem cekimi
np.random.seed(115)
orneklem=np.random.choice(a=populasyon,size=100)
orneklem[0:10]

array([20, 78, 24, 37, 30, 77, 74,  5, 43, 41])

In [6]:
orneklem.mean()

40.6

In [7]:
populasyon.mean()

39.275

In [8]:
# dağılımı

In [10]:
np.random.seed(10)
orneklem1=np.random.choice(a=populasyon,size=100)
orneklem2=np.random.choice(a=populasyon,size=100)
orneklem3=np.random.choice(a=populasyon,size=100)
orneklem4=np.random.choice(a=populasyon,size=100)
orneklem5=np.random.choice(a=populasyon,size=100)
orneklem6=np.random.choice(a=populasyon,size=100)
orneklem7=np.random.choice(a=populasyon,size=100)
orneklem8=np.random.choice(a=populasyon,size=100)
orneklem9=np.random.choice(a=populasyon,size=100)
orneklem10=np.random.choice(a=populasyon,size=100)

In [11]:
(orneklem1.mean()+orneklem2.mean()+orneklem3.mean()+orneklem4.mean()+orneklem5.mean()+orneklem6.mean()+orneklem7.mean()+orneklem8.mean()+orneklem9.mean()+orneklem10.mean())

390.28999999999996

In [19]:
# betimsel
import seaborn as sns 
tips=sns.load_dataset("tips")
df=tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [20]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [22]:
import researchpy as rp

In [25]:
rp.summary_cont(df[["total_bill","tip","size"]])
rp.summary_cat(df[["total_bill","tip","size"]])

AttributeError: 'DataFrame' object has no attribute 'iteritems'

In [26]:
df[["tip","total_bill"]].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [27]:
df[["tip","total_bill"]].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000