In [1]:
#varyans 
import pandas as pd 
import numpy as np

In [3]:


A=pd.DataFrame([28,33,30,29,28,29,27,31,30,32,28,33,25,29,27,31,31,30,31,34,30,32,32,45,58])
B=pd.DataFrame([29,45,34,26,28,29,27,31,30,34,28,33,25,29,27,31,31,30,31,34,30,32,32,45,88])
C=pd.DataFrame([48,53,70,89,68,49,57,41,36,32,28,33,25,29,27,31,31,30,31,34,30,32,32,55,78])

dfs=[A,B,C]
ABC=pd.concat(dfs,axis=1)
ABC.columns=["grup_a","grup_b","grup_c"]
ABC.head()

   grup_a  grup_b  grup_c
0      28      29      48
1      33      45      53
2      30      34      70
3      29      26      89
4      28      28      68

In [4]:
from scipy.stats import shapiro

In [5]:
shapiro(ABC["grup_a"])

ShapiroResult(statistic=0.6257332398310219, pvalue=8.458000174256815e-07)

In [6]:
shapiro(ABC["grup_b"])

ShapiroResult(statistic=0.5095313730244487, pvalue=4.649752255801413e-08)

In [7]:
shapiro(ABC["grup_c"])

ShapiroResult(statistic=0.8222387395989997, pvalue=0.000547005626555708)

In [9]:
import scipy.stats as stats

In [10]:
stats.levene(ABC["grup_a"],ABC["grup_b"],ABC["grup_c"])

LeveneResult(statistic=4.603401794029705, pvalue=0.01314143772262308)

In [11]:
#hipotez

In [12]:
from scipy.stats import f_oneway

In [13]:
f_oneway(ABC["grup_a"],ABC["grup_b"],ABC["grup_c"])

F_onewayResult(statistic=5.144044647174917, pvalue=0.008162790578856383)

In [14]:
print('{:.5f}'.format(f_oneway(ABC["grup_a"],ABC["grup_b"],ABC["grup_c"])[1]))

0.00816

In [15]:
ABC.describe().T

        count   mean        std   min   25%   50%   75%   max
grup_a   25.0  31.72   6.592420  25.0  29.0  30.0  32.0  58.0
grup_b   25.0  33.56  12.308804  25.0  29.0  31.0  33.0  88.0
grup_c   25.0  42.76  17.751244  25.0  31.0  33.0  53.0  89.0

In [16]:
#Nonparametrik Hipotez Testi

In [17]:
from scipy.stats import kruskal

In [18]:
kruskal(ABC["grup_a"],ABC["grup_b"],ABC["grup_c"])

KruskalResult(statistic=8.14720610380485, pvalue=0.017015968506506253)